body {
  box-sizing: border-box;
  background-color: "#ffffff";
}

/* ---------------------------------------------NAVBAR---------------------------------------------- */
.navBar {
  display: flex;
  font-family: "sans-serif";
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  align-items: center;
  height: 100px;
  width: "100%";
  background-color: #06039f;
}

.navMain {
  display: flex;
  gap: 48px;
  overflow: hidden;
  position: relative;
}

.navBarLogo {
  height: 90px;
  width: 90px;
}

.secondNav {
  display: none;
}

.navLink {
  text-decoration: none;
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  font-family: "Work Sans";
  font-style: normal;
  line-height: 21;
}

.navLink:hover {
  color: #ffffff;
}

.buttonNav {
  background-color: yellow;
  padding: 10px;
  border-width: 0px;
  outline: none;
  border-radius: 10px;
  font-weight: 900px;
  font-size: 18px;
  font-family: "Work Sans";
  font-style: "normal";
  text-decoration: none;
  color: #000000;
}

.buttonNav:hover {
  background-color: blue;
  color: #ffffff;
  transition: 2s;
  cursor: pointer;
}

.menuBtn {
  display: none;
}

/* ---------------------------------------------HOME---------------------------------------------- */
.homeMainContainer {
  display: flex;
  margin-top: 95px;
  padding-left: 100px;
  padding-right: 100px;
}

.headerTitle {
  font-size: 48px;
  padding-right: 100px;
  font-weight: 500;
  font-family: "work Sans";
  font-style: normal;
  color: #000000;
}

.headerParagraph {
  font-size: 18px;
  /* padding-right: 200px; */
  font-family: "Work Sans";
  font-style: normal;
  margin-bottom: 45px;
  margin-top: 24px;
  /* background-color: green; */
}

.baseButton {
  padding: 10px;
  width: 182px;
  height: 64px;
  border-radius: 8px;
  border-width: 1px;
  background-color: #06039f;
  color: #ffffff;
  text-decoration: none;
}

.baseButton:hover {
  background-color: #000000;
  color: white;
  transition: 2s;
}

.whySanwoPay {
  background-color: #06039f;
  height: 527px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Work Sans";
  align-items: center;
  color: #ffffff;
}

.whySanwoPayh1 {
  padding-top: 64px;
  text-align: center;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 48px;
}

.whySanwoPayP {
  text-align: center;
  font-size: 16;
  font-weight: 400;
  margin-bottom: 64px;
}

.divList {
  display: flex;
}

.divListP {
  margin-right: 100px;
  font-weight: 400;
}

.divImageText {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  font-family: "Work Sans";
  margin-bottom: 96px;
  padding-top: 100;
}

.divImageTextInner {
  margin-top: 120px;
  margin-left: 122px;
  margin-right: 122px;
}

.works {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-family: "Work Sans";
}

.worksMainDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}

.worksh1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 400;
}

.worksImage {
  display: flex;
  justify-content: center;
}

.worksh3 {
  text-align: center;
}

.worksP {
  font-weight: 400;
  text-align: center;
}

.vidDiv {
  margin-top: 100px;
  text-align: center;
  font-family: "Work Sans";
}

.vidDivImage {
  justify-content: center;
  display: flex;
}

.vidAppDownload {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

/* .vidDivImageMain{
    width: 100%;
} */

.appContent {
  margin-right: 16px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.appContentImage {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  margin-right: 5px;
  margin-left: 17px;
}

.divText {
  font-size: 10px;
  font-weight: 500;
}

.testimonal {
  padding-right: 100px;
  padding-left: 100px;
  background-color: #06039f;
  display: flex;
  margin-top: 200px;
  height: 344px;
  align-items: center;
  font-family: "Work Sans";
  color: #ffffff;
}

.testimonalImage {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.testimonalP {
  font-size: 24px;
  font-weight: 400;
  padding-right: 115px;
}

.testimonalP2 {
  font-size: 32px;
  font-weight: 500;
  color: yellow;
}

.testimonalSideDiv {
  display: flex;
}

.testimonalSideDivImage {
  margin-top: -90px;
  margin-right: 20px;
  width: 500px;
  height: 400px;
}

.testimonalSideDiv2 {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.faq {
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 100px;
  justify-content: "space-between";
  margin-bottom: 120px;
}

.faqText {
  text-align: left;
  width: 700px;
  padding-left: 100px;
}

.faqButton {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  border-width: 0px;
  color: #000000;
  border-width: 1px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.faqButton:hover {
  background-color: #000000;
  color: white;
}

/* -----------------------------------------FOOTER------------------------------------------ */
.footerMainDiv {
  background-color: #06039f;
  height: 383px;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  font-family: "Work Sans";
  height: auto;
  color: #ffffff;
}

.footerInnerDiv {
  padding-top: 72px;
  display: flex;
  justify-content: "space-between";
}

.footerInnerDivP {
  padding-right: 600px;
}

.footerContent {
  display: flex;
  justify-content: "center";
}

.footerContentUl {
  list-style: none;
}

.footerContentCopywrite {
  display: flex;
  justify-content: "space-between";
}

.footerContentTerms {
  display: flex;
  justify-content: "space-between";
}

.footerContentTermsP {
  margin-right: 50px;
}

/* -----------------------------------------ABOUT------------------------------------------ */

.aboutDiv {
  background-color: #c4c4c4;
  padding: 100px;
  justify-content: center;
  height: 200px;
  font-family: "Poppins";
}

.aboutDivP {
  text-align: center;
  font-style: normal;
  font-size: 48px;
  font-family: 500;
  font-family: "Poppins";
}

.aboutDivPTwo {
  text-align: center;
  font-family: "Work Sans";
}

.aboutDivOne {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 85px;
  margin-bottom: 100px;
  font-family: "Work Sans";
}

.aboutDivOneP {
  padding-right: 300px;
}

.aboutBtn {
  padding: 10px;
  width: 183px;
  height: 64px;
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 115px;
  font-family: "Poppins";
}

.aboutDivTwo {
  margin-bottom: 64px;
}

.aboutDivTwoHtwo {
  text-align: center;
  font-family: "Work Sans";
}

.aboutDivTwoP {
  text-align: center;
  padding-right: 329px;
  padding-left: 329px;
  padding-top: 20px;
  font-family: "Work Sans";
}

.aboutDivThree {
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 20px;
  font-family: "Work Sans";
}

.aboutDivThreeInner {
  background-color: #c4c4c4;
  width: 387px;
  height: 389px;
  margin-right: 20px;
  border-radius: 20px;
  padding-left: 40px;
  padding-top: 48px;
}

.aboutDivThreeInnerP {
  padding-right: 100px;
}

.aboutFour {
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 100px;
}

.aboutFourInner {
  background-color: #c4c4c4;
  width: 347px;
  height: 349px;
  margin-right: 20px;
  border-radius: 20px;
  padding-left: 40px;
  padding-top: 48px;
  font-family: "Work Sans";
}

.aboutDivFive {
  margin-bottom: 64px;
}

.aboutDivFiveHtwo {
  text-align: center;
  font-family: "Work Sans";
}

.aboutDivFiveP {
  text-align: center;
  padding-right: 329px;
  padding-left: 329px;
  padding-top: 20px;
  font-family: "Work Sans";
}

.aboutDivSix {
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 20px;
  justify-content: center;
  font-family: "Work Sans";
}

.aboutDivSixInner {
  align-items: center;
  background-color: #c4c4c4;
  width: 387px;
  height: 289px;
  margin-right: 20px;
  border-radius: 20px;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}

.aboutDivSixInnerInner {
  display: flex;
  justify-content: center;
}

.aboutDivSixInnerH {
  text-align: center;
}

.aboutDivSixImage {
  display: flex;
  justify-content: center;
}

.aboutDivSixImageMain {
  margin-right: 15px;
}

.aboutBase {
  margin-right: 100px;
  margin-left: 100px;
  height: 146px;
  background-color: #c4c4c4;
  border-radius: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: "space-between";
  align-items: "center";
  padding: 58px;
  font-family: "Work Sans";
}

.aboutBaseInner {
  display: flex;
}

.aboutForm {
  width: 505px;
  height: 87px;
  border-radius: 20px;
  padding-left: 20;
}

.aboutBaseBtn {
  padding: 10px;
  width: 180px;
  height: 92px;
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  margin-right: 10px;
  margin-left: -30px;
}

/* -----------------------------------------ARTICLES------------------------------------------ */
.aritcleDiv {
  margin-top: 117px;
}

.aritcleDivP {
  text-align: center;
  font-size: 48px;
  font-family: "Poppins";
  font-weight: 500;
}

.aritcleDivInner {
  display: flex;
  justify-content: center;
}

.aritcleDivInnerTwo {
  display: flex;
  justify-content: center;
  margin-left: 232px;
  margin-right: 232px;
}

.aritcleDivInnerTwoP {
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins";
}

.aritcleDivInnerThree {
  justify-content: center;
  margin-left: 232px;
  margin-right: 232px;
  font-family: "Poppins";
}

.aritcleDivInnerThreeP {
  font-size: 20px;
  font-weight: 400;
}

.aritcleDivInnerFour {
  display: flex;
  justify-content: "space-between";
  margin-left: 232px;
  margin-right: 232px;
  align-items: center;
  font-family: "Poppins";
}

.aritcleDivInnerFive {
  display: "flex";
}

.aritcleDivInnerFiveImage {
  margin-right: 10px;
}

.divDown {
  justify-content: "space-between";
  margin-left: 232px;
  margin-right: 232px;
  align-items: center;
  font-family: "Poppins";
}

.label {
  width: 976px;
  height: 154px;
  margin-bottom: 40px;
}

.articleBtn {
  padding: 10px;
  width: 183px;
  height: 64px;
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 115px;
  font-family: "Poppins";
}
/* -----------------------------------------BLOG------------------------------------------ */
.blogSecondDiv {
  background-color: #06039f;
  padding: 100px;
  justify-content: center;
  height: 200px;
  color: #ffffff;
}

.blogSecondDivP {
  text-align: center;
  font-size: normal;
  font-size: 48px;
  font-family: Poppins;
}

.blogSecondDivPtwo {
  text-align: center;
}

.leftDiv {
  display: flex;
  justify-content: "space-between";
  margin-top: 80px;
  margin-left: 120px;
  margin-right: 120px;
}

.leftDivImage {
  width: 600px;
}

.leftDivImageMain {
  width: 600px;
}

.leftDivTwo {
  display: flex;
  justify-content: "space-between";
  margin-top: 20px;
}

.leftDivThree {
  display: flex;
  justify-content: "space-between";
  align-items: center;
}

.leftDivFour {
  display: flex;
  justify-content: "space-between";
  align-items: center;
}

.leftDivSix {
  display: flex;
  justify-content: "space-between";
  margin-bottom: 30px;
}

.leftDivSeven {
  display: flex;
  justify-content: "space-between";
  margin-bottom: 30px;
}

.divEight {
  display: flex;
  justify-content: "space-between";
  margin-bottom: 30px;
}

.divNine {
  padding-left: 50px;
  padding-right: 20px;
}

.divSeven {
  display: flex;
  justify-content: "space-between";
  margin-bottom: 3px;
}

.divSix {
  display: flex;
  justify-content: "space-between";
  margin-bottom: 30px;
}

.divFive {
  display: flex;
  justify-content: "space-between";
  margin-bottom: 30px;
}

.divFour {
  display: flex;
  justify-content: "space-between";
}

.divFourButton {
  padding: 10px;
  width: 183px;
  height: 64px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  margin-right: 10px;
}

.divP {
  margin-left: 20px;
}

.divPTwo {
  margin-left: 10px;
}

/* ------------------------------------------------------------------------------------------- */

/* -----------------------------------RESPONSIVENESS-MOBILE----------------------------------- */
@media only screen and (max-width: 600px) {
  body {
    box-sizing: border-box;
    background-color: "#ffffff";
  }

  /* --------NAVBAR--------- */
  .navBar {
    padding-left: 0px;
    padding-right: 30px;
    display: flex;
    background-color: #06039f;
  }

  .navMain {
    display: none;
    overflow: hidden;
    position: relative;
    font-size: smaller;
    gap: 2px;
    margin-top: 200px;
  }

  .secondNav {
    display: flex;
  }

  .secondNavUl {
    display: flex;
    text-decoration: none;
    gap: 12px;
  }

  .secondNav ul li {
    list-style: none;
    margin-bottom: 10px;
  }

  .secondNav ul li a {
    color: white;
    font-weight: 700;
    text-decoration: none;
  }

  .navLink {
    color: red;
  }

  .buttonNav {
    display: none;
  }

  .menuBtn {
    display: none;
    float: right;
  }

  /* --------HOME--------- */
  .homeMainContainer {
    display: block;
    width: auto;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .headerTitle {
    margin: 0;
    text-align: left;
    font-size: 25px;
    padding-left: 0px;
    padding-top: 20px;
    padding-right: 0px;
    width: auto;
    font-weight: 800;
  }

  .topImage {
    width: 100%;
  }

  .baseButton {
    padding: 5px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border-width: 1px;
    background-color: #06039f;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .whySanwoPay {
    background-color: #06039f;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Work Sans";
    align-items: center;
    padding-bottom: 20px;
    color: #ffffff;
  }

  .whySanwoPayh1 {
    padding-top: 64px;
    text-align: center;
    font-family: "Work Sans";
    font-weight: 800;
    font-size: 38px;
  }

  .whySanwoPayP {
    text-align: center;
    font-size: 16;
    font-weight: 400;
    margin-bottom: 64px;
  }

  .divList {
    display: block;
    text-align: center;
  }

  .divListP {
    margin-right: 0px;
    font-weight: 400;
  }

  .divImageText {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    font-family: "Work Sans";
    margin-bottom: 12px;
  }

  .divImageTextInner {
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }
  .divImageImage {
    width: 100%;
    height: auto;
  }

  .works {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    font-family: "Work Sans";
    padding-bottom: 20px;
  }

  .worksh1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 400;
  }

  .worksMainDiv {
    display: block;
    align-content: center;
  }

  .worksImage {
    display: flex;
    justify-content: center;
  }

  .worksImageImg {
    width: auto;
    height: auto;
  }

  .worksh3 {
    text-align: center;
  }

  .worksP {
    font-weight: 400;
    text-align: center;
  }

  .vidDiv {
    margin-top: 100px;
    text-align: center;
    font-family: "Work Sans";
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vidDivImage {
    justify-content: center;
    display: flex;
  }

  .vidAppDownload {
    display: block;
    width: 100%;
    margin-top: 30px;
  }

  .vidDivImageMain {
    width: 100%;
  }

  .appContent {
    width: auto;
    height: auto;
    justify-content: space-between;
    padding-right: 1rem;
    margin-bottom: 20px;
    margin-left: 12px;
  }

  .appContentImage {
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin-right: 5px;
    margin-left: 17px;
  }

  .divText {
    font-size: 20px;
    font-weight: 500;
  }

  .testimonal {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #06039f;
    display: block;
    margin-top: 100px;
    height: auto;
    align-items: center;
    font-family: "Work Sans";
    color: #ffffff;
    text-align: center;
  }

  .testimonalImageMain {
    display: none;
  }

  .testimonalImage {
    display: flex;
    align-items: center;
  }

  .testimonalP {
    font-size: 24px;
    font-weight: 400;
    padding-right: 0px;
  }

  .testimonalP2 {
    font-size: 32px;
    font-weight: 500;
    color: yellow;
  }

  .testimonalSideDiv {
    display: flex;
    justify-content: center;
    background-color: green;
    height: auto;
  }

  .testimonalSideDivImage {
    width: 100px;
    height: 160px;
    display: none;
  }

  /* .testimonalSideDiv2 {
    display: flex;
    align-items: center;
  } */

  .faq {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 80px;
    justify-content: "space-between";
    margin-bottom: 80px;
  }

  .faqImage {
    width: 100%;
  }

  .faqText {
    text-align: left;
    padding: 0px;
    width: 100%;
  }

  .faqButton {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    border-width: 1px;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .faqButton:hover {
    background-color: #000000;
    color: white;
  }

  /* --------ABOUT--------- */
  .aboutDiv {
    background-color: #000000;
    padding: 20px;
    justify-content: center;
    height: auto;
    font-family: "Poppins";
    color: #ffffff;
  }
  
  .aboutDivP {
    text-align: center;
    font-style: normal;
    font-size: 30px;
    font-family: 500;
    font-family: "Poppins";
  }
  
  .aboutDivPTwo {
    text-align: center;
    font-family: "Work Sans";
  }
  
  .aboutDivOne {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 55px;
    margin-bottom: 100px;
    font-family: "Work Sans";
  }
  
  .aboutDivOneP {
    padding-right: 0px;
  }
  
  .aboutBtn {
    padding: 10px;
    width: 183px;
    height: 64px;
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 115px;
    font-family: "Poppins";
  }
  
  .aboutDivTwo {
    margin-bottom: 64px;
  }
  
  .aboutDivTwoHtwo {
    text-align: center;
    font-family: "Work Sans";
  }
  
  .aboutDivTwoP {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: "Work Sans";
  }
  
  .aboutDivThree {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Work Sans";
    margin-bottom: 20px;
  }
  
  .aboutDivThreeInner {
    background-color: #c4c4c4;
    width: 95%;
    height: auto;
    margin-right: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .aboutDivThreeInnerP {
    padding-right: 20px;
  }
  
  .aboutFour {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .aboutFourInner {
    background-color: #c4c4c4;
    width: 90%;
    height: auto;
    border-radius: 20px;
    font-family: "Work Sans";
  }
  
  .aboutDivFive {
    margin-bottom: 64px;
  }
  
  .aboutDivFiveHtwo {
    text-align: center;
    font-family: "Work Sans";
  }
  
  .aboutDivFiveP {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Work Sans";
  }
  
  .aboutDivSix {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    justify-content: center;
    font-family: "Work Sans";
  }
  
  .aboutDivSixInner {
    align-items: center;
    background-color: #c4c4c4;
    width: 100%;
    height: 289px;
    margin-right: 20px;
    border-radius: 20px;
    padding-top: 48px;
    justify-content: center;
  }
  
  .aboutDivSixInnerInner {
    display: flex;
    justify-content: center;
  }
  
  .aboutDivSixInnerH {
    text-align: center;
  }
  
  .aboutDivSixImage {
    display: flex;
    justify-content: center;
  }
  
  .aboutDivSixImageMain {
    margin-right: 15px;
  }
  
  .aboutBase {
    margin-right: 20px;
    margin-left: 20px;
    height: auto;
    background-color: #c4c4c4;
    border-radius: 20px;
    margin-bottom: 100px;
    display: block;
    justify-content: "space-between";
    align-items: "center";
    padding: 58px;
    font-family: "Work Sans";
  }
  
  .aboutBaseInner {
    display: flex;
  }
  
  .aboutForm {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding-left: 60;
  }
  
  .aboutBaseBtn {
    padding: 10px;
    width: 90px;
    height: 55px;
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
    margin-right: 10px;
    margin-left: -30px;
  }
  /* --------ARTICLE--------- */

  .aritcleDiv {
    margin-top: 50px;
  }

  .aritcleDivP {
    text-align: center;
    font-size: 30px;
    font-family: "Poppins";
    font-weight: 500;
  }

  .aritcleDivInner {
    display: block;
    justify-content: center;
  }

  .aritcleDivInnerImage {
    width: 100%;
  }

  .aritcleDivInnerTwo {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .aritcleDivInnerTwoP {
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins";
  }

  .aritcleDivInnerThree {
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Poppins";
  }

  .aritcleDivInnerThreeP {
    font-size: 20px;
    font-weight: 400;
  }

  .aritcleDivInnerFour {
    display: flex;
    justify-content: "space-between";
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    font-family: "Poppins";
  }

  .aritcleDivInnerFive {
    display: "flex";
  }

  .aritcleDivInnerFiveImage {
    margin-right: 10px;
  }

  .divDown {
    justify-content: "space-between";
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    font-family: "Poppins";
  }

  .label {
    width: 100%;
    height: 154px;
    margin-bottom: 40px;
  }

  .articleBtn {
    padding: 10px;
    width: 183px;
    height: 64px;
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 115px;
    font-family: "Poppins";
  }

  /* --------BLOG--------- */

  .blogSecondDiv {
    background-color: #06039f;
    padding: 20px;
    justify-content: center;
    height: auto;
    color: #ffffff;
  }

  .blogSecondDivP {
    text-align: center;
    font-size: normal;
    font-size: px;
    font-family: Poppins;
  }

  .blogSecondDivPtwo {
    text-align: center;
  }

  .leftDiv {
    display: block;
    justify-content: "space-between";
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .leftDivImage {
    width: 100%;
  }

  .leftDivImageMain {
    width: 100%;
    height: 100%;
  }

  .leftDivTwo {
    display: block;
    justify-content: "space-between";
    margin-top: 20px;
  }

  .leftDivThree {
    display: flex;
    justify-content: "space-between";
    align-items: center;
  }

  .leftDivFour {
    display: flex;
    justify-content: "space-between";
    align-items: center;
  }

  .leftDivSix {
    display: block;
    justify-content: "space-between";
    margin-bottom: 30px;
  }

  .leftDivSeven {
    display: block;
    justify-content: "space-between";
    margin-bottom: 30px;
  }

  .divEight {
    display: block;
    justify-content: "space-between";
    margin-bottom: 30px;
  }

  .divNine {
    padding-left: 10px;
    padding-right: 10px;
  }

  .divSeven {
    display: block;
    justify-content: "space-between";
    margin-bottom: 3px;
  }

  .divSix {
    display: block;
    justify-content: "space-between";
    margin-bottom: 30px;
  }

  .divFive {
    display: block;
    justify-content: "space-between";
    margin-bottom: 30px;
  }

  .divFour {
    display: block;
    justify-content: "space-between";
  }

  .divFourButton {
    padding: 10px;
    width: 100%;
    height: 64px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .divP {
    margin-left: 20px;
  }

  .divPTwo {
    margin-left: 10px;
  }

  /* --------FOOTER--------- */

  .footerMainDiv {
    background-color: #06039f;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    font-family: "Work Sans";
    height: auto;
    color: #ffffff;
    padding-bottom: 15px;
  }

  .footerInnerDiv {
    padding-top: 72px;
    display: block;
    justify-content: "space-between";
  }

  .footerInnerDivP {
    height: 100%;
    width: 100%;
    padding: 5px;
  }

  .footerContent {
    display: flex;
    justify-content: "space-between";
  }

  .footerContentUl {
    list-style: none;
  }

  .footerContentCopywrite {
    display: block;
    text-align: center;
    justify-content: "space-between";
  }

  .footerContentTerms {
    display: block;
    text-align: center;
  }
}

/* ------------------------------------------------------------------------------------------- */
